#container {
    display: grid;
    background: red;
    height:100vh;
    grid-template-columns: 1fr 2fr 3fr 1fr;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: 
    'hd hd hd hd'
    'mn mn as as'
    'ft ft ft ft';


}

header {
    grid-area: hd;
    background: hotpink;
}

main{
    grid-area:mn;
    background:blue;
    overflow:scroll
}

Aside{
    Grid-area: as;
    background:green;
}

footer{
    grid-area: ft;
    background-color: orchid;
}